@media screen and (min-width: 1000px) {
    #navbar {
      display: flex;
      position: fixed;
      top: 14px;
      right: 20px;
      background-color: rgba(206, 209, 209, 0.7);
      border: solid 3px black;
      border-radius: 30px;
      width: 20vw;
      height: 35px;
      font-family: DejaVu Sans Mono, monospace;
      font-variant: small-caps;
      font-size: 25px;
      color: #501609;
    }
    .nav-list {
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      width: 100%;
      margin: auto;
    }
    a:link {
      color: #501609;
      text-decoration: none;
    }
  
    a:visited {
      color: #2e0d05;
      text-decoration: none;
    }
  
    a:hover {
      color: #eb6547;
      background-color: transparent;
      text-decoration: none;
    }
    #welcome-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      background-color: #060505;
    }
  
    h1 {
      font-size: 84px;
      font-family: Trebuchet MS, sans-serif;
      font-weight: 5555;
      color: #dc143c;
      margin: 0px 20px;
    }
  
    p {
      font-size: 34px;
      font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
      font-style: italic;
      color: #3b040f;
      margin: 25px 20px;
    }
  
    #projects {
      background-color: #3a3232;
    }
    .projects-section-header {
      border: 5px solid #060505;
      border-radius: 45px;
      font-size: 40px;
      text-align: center;
      letter-spacing: 5px;
      color: white;
      background-color: rgba(47, 79, 79, 0.8);
      font-family: DejaVu Sans Mono, monospace;
      font-variant: small-caps;
      margin: auto;
      width: 600px;
      height: 100px;
      padding: 5px;
    }
    .projects-grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: space-around;
      width: 100%;
      height: 700px;
      background-color: #3a3232;
    }
    .project-image {
      object-fit: cover;
      height: 300px;
      width: 350px;
      border: 5px solid #060505;
      border-radius: 45px;
    }
    .project-title {
      padding: 5px;
      margin: 15px 10px;
      border: 3px solid #060505;
      border-radius: 45px;
      text-align: center;
      font-size: 20px;
      letter-spacing: 4px;
      color: white;
      background-color: rgba(112, 169, 169, 0.7);
      font-family: DejaVu Sans Mono, monospace;
      font-variant: small-caps;
    }
  
    #contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30vh;
      background-color: #060505;
    }
    .contact-section-header {
      font-size: 30px;
      font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
      font-style: italic;
      color: #3b040f;
      margin: auto;
    }
    .contact-links {
      display: flex;
      font-size: 19px;
      font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
      font-style: italic;
      width: 20vw;
      justify-content: space-between;
      margin: auto;
    }
  }
  
  @media screen and (max-width: 1000px) {
    #navbar {
      display: flex;
      position: fixed;
      top: 5px;
      right: 10px;
      background-color: rgba(206, 209, 209, 0.7);
      border: solid 1px black;
      border-radius: 30px;
      width: 80vw;
      height: 20px;
      font-family: DejaVu Sans Mono, monospace;
      font-variant: small-caps;
      font-size: 15px;
      color: #501609;
    }
    .nav-list {
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      width: 100%;
      margin: auto;
    }
    a:link {
      color: #501609;
      text-decoration: none;
    }
  
    a:visited {
      color: #2e0d05;
      text-decoration: none;
    }
  
    a:hover {
      color: #eb6547;
      background-color: transparent;
      text-decoration: none;
    }
    #welcome-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      background-color: #060505;
    }
  
    h1 {
      font-size: 44px;
      font-family: Trebuchet MS, sans-serif;
      font-weight: 5555;
      color: #dc143c;
      margin: 0px 10px;
    }
  
    p {
      font-size: 14px;
      font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
      font-style: italic;
      color: #3b040f;
      margin: 15px 10px;
    }
  
    #projects {
      background-color: #3a3232;
    }
    .projects-section-header {
      border: 3px solid #060505;
      border-radius: 45px;
      font-size: 20px;
      text-align: center;
      letter-spacing: 2px;
      color: white;
      background-color: rgba(47, 79, 79, 0.8);
      font-family: DejaVu Sans Mono, monospace;
      font-variant: small-caps;
      margin: auto;
      width: 300px;
      height: 60px;
      padding: 2px;
    }
    .projects-grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: space-around;
      width: 100vw;
      height: 100vh;
      background-color: #3a3232;
    }
    .project-image {
      object-fit: cover;
      height: 100px;
      width: 100px;
      border: 2px solid #060505;
      border-radius: 25px;
    }
    .project-title {
      padding: 3px;
      margin: 8px 5px;
      border: 1px solid #060505;
      border-radius: 45px;
      text-align: center;
      font-size: 10px;
      letter-spacing: 2px;
      color: white;
      background-color: rgba(112, 169, 169, 0.7);
      font-family: DejaVu Sans Mono, monospace;
      font-variant: small-caps;
    }
  
    #contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30vh;
      background-color: #060505;
    }
    .contact-section-header {
      font-size: 15px;
      font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
      font-style: italic;
      color: #3b040f;
      margin: auto;
      text-align: center;
    }
    .contact-links {
      display: flex;
      font-size: 8px;
      font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
      font-style: italic;
      width: 20vw;
      justify-content: space-between;
      margin: auto;
    }
  }
  